.collapse-bloc {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0 20%;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 25px 0;
  text-align: center;
}
.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #ff6060;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
  padding: 20px 10px;
  height: 47px;
}

.collapse-title h2 {
  color: white;
  font-size: 24px;
}

.collapse-txt {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 0px 0px 5px 5px;
  padding: 20px;
  display: none;
  color: #ff6060;
  font-size: 20px;
}

.active-txt {
  display: block;
}
.arrowDown {
  transform: rotate(0deg);
}
.arrowUp {
  transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .collapse-container {
    margin-bottom: 20px;
  }
  .collapse-title {
    height: 30px;
    padding: 5px 11px;
  }
  .collapse-title h2 {
    font-size: 13px;
    font-weight: 500;
  }
  .collapse-title img {
    width: 15px;
  }
  .collapse-txt {
    padding: 20px 11px;
    font-size: 12px;
  }
}
